{% extends 'home.html' %}

{% block title %}{{ unit.Name }}{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/unit_detail.css' %}">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="unit-container">
        <h1>{{ unit.nome }}</h1>

        <section class="info-list">
            <div class="info-item">
                <h2>Endereço</h2>
                <p>{{ unit.endereco }}</p>
            </div>
            <div class="info-item">
                <h2>Telefone</h2>
                <p>{{ unit.telefone }}</p>
            </div>
            <div class="info-item">
                <h2>Número de Vagas</h2>
                <p>{{ unit.numero_de_vagas }}</p>
            </div>
            <div class="info-item">
                <h2>Número Atual de Alunos</h2>
                <p>{{ unit.numero_de_alunos }}</p>
            </div>
            <div class="info-item">
                <h2>Média Geral dos Investimentos Recebidos</h2>
                <p>{{ unit.media_investimento }}</p>
            </div>
            <div class="info-item">
                <h2>Distância até sua Localização</h2>
                <p>{{ unit.distancia_do_aluno }} km</p>
            </div>
        </section>

        <section class="lists">
            <div class="list">
                <h2>Professores da Unidade</h2>
                <ul class="ul-list">
                    {% for professor in unit.professores %}
                    <li class="li-list">{{ professor.nome }} {% if professor.voluntario %} - Voluntário {% endif %}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="list">
                <h2>Lista de Financiadores</h2>
                <ul class="ul-list">
                    {% for financiador in unit.financiadores %}
                        <li class="li-list">{{ financiador.nome }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="list">
                <h2>Lista de Voluntários</h2>
                <ul class="ul-list">
                    {% for voluntario in unit.voluntarios %}
                        <li class="li-list">{{ voluntario.nome }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}