{% extends 'home.html' %}

{% block title %}Rede Greeks{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/web_home.css' %}">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <main>
        <section class="intro">
            <div class="container">
                <h2>Bem-vindo à Rede de Cursinhos Greeks!</h2>
                <p>Explore nossas unidades e escolha a que melhor atende às suas necessidades.</p>
            </div>
        </section>

        <section class="units">
            <div class="container">
                <h2>Nossas Unidades</h2>
                <div class="cards">
                    {% for unit in units %}
                        <a href="{% url 'unit_detail' unit.id %}" class="card">
                            <div class="card-content">
                                <h3>{{ unit.nome }}</h3>
                                <!-- <p>{{ unit.Description }}</p> -->
                                <div class="line"></div>
                                <p class="info">Número de vagas: {{ unit.NumberOfVailableVacancy }}</p>
                                <p class="info">Telefone: {{ unit.Fone }}</p>
                                <p class="info">Endereço: {{ unit.Address }}</p>
                                <input 
                                    type="button" 
                                    value="Inscreva-se"  
                                    {% if unit.NumberOfVailableVacancy == 0 %} 
                                        disabled 
                                        class="btn-card btn-card-block"
                                    {% else %} 
                                        class="btn-card"
                                        onclick="redirect_subscribe_to_the_unit(event, {{ unit.Id }})" 
                                    {% endif %}
                                >
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script>
        function redirect_subscribe_to_the_unit(event, unit_id) {
            event.preventDefault();     
            event.stopPropagation();
            const url = `{% url 'subscribe_to_the_unit' 0 %}`.replace('0', unit_id);
            window.location.href = url;
        }
    </script>
{% endblock %}