{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/Greeks.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 style="text-align: center;">Rede de Cursinhos Greeks</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </nav>
        </div>
        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <p>&copy; 2024 Rede de Cursinhos Greeks. Todos os direitos reservados.</p>
            <p><a href="">Política de Privacidade</a> | <a href="">Termos de Uso</a></p>
        </div>
        {% block footer %}
        {% endblock %}
    </footer>

    {% block script%}
    {% endblock %}
</body>
</html>